<html>
  <head>
    <title><%= title %></title>
        <script async src="https://cdn.developer.sas.com/packages/va-report-components/latest/dist/umd/va-report-components.js"></script>
  </head>
        <style>
                .my-report {
                        --sas-report-background-color: transparent;
                        --sas-report-padding: 10px;
                }
        </style>
  <body>
        <%=sastag%>
  </body>

</html>