<html>
  <head>
    <title><%= title %></title>
        <script async src="/static/sdk-assets/dist/umd/va-report-components.js"></script>
  </head>
        <style>
                .my-report {
                        --sas-report-background-color: transparent;
                        --sas-report-padding: 10px;
                }
        </style>
  <body>
        <%=sastag%>
  </body>

</html>