doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(async, src="./sdk-assets/dist/umd/va-report-components.js")
  body
    block content
    div #{sastag}
